<header>
    <a href="/app" class=linkbutton><button class="mdc-button mdc-button--raised">Home</button></a>
    <a href="/logout" class=linkbutton><button class="mdc-button mdc-button--raised">Log Out</button></a>
</header>