<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="mdc-card main">
      <h1><%= title %></h1>
      <p>Placeholder. Here, you'll be able to select drinks for <b>DAVE</b> to dispense</p>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
