body {
  background: aliceblue;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body > * {
  margin: auto;
}

a {
  color: #00B7FF;
}
.main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.main > * {
  margin:0.5em;
}

.linkbutton {
  text-decoration: none;
}
.linkbutton > * {
  width:100%;
}
@media only screen and (min-width: 600px) {
  .main {
    max-width: 60%;
  }
}