<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <a href="/logout" class=linkbutton><button class="mdc-button mdc-button--raised">Log Out</button></a>
    </header>
    <div class="mdc-card main">
      <h1><%= title %></h1>
      <% buttons.forEach(button => { %>
        <a href="app/<%= button %>" class=linkbutton><button class="mdc-button mdc-button--raised"><%= button %></button></a>
      <% }) %>
    </div>
    <% include ../partials/footer %>
  </body>
</html>